* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato";
}

header {
  background-color: #0f8b8d;
  border-radius: 30px 30px 0px 0px;
}

nav {
  display: flex;
  padding: 39px 138px;
  justify-content: space-between;
}

nav ul {
  display: flex;
  column-gap: 50px;
}

nav ul li {
  color: beige;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  list-style: none;
  padding-top: 10px;
}

nav img {
  width: 335px;
  height: auto;
}
main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 100px 20px;
  margin: 0 auto;
  width: 80%;
}
main h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: #0f8b8d;
}

main p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #143642;
}

.address {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  row-gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.card {
  width: 474px;
  height: 196px;
  border-radius: 20px;
  border: 1px solid rgb(194, 194, 194);
  margin: 0 auto;
  text-align: left;
}

.card h3 {
  padding: 20px 45px 0 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #143642;
  margin: 20px;
}

.card p {
  padding: 0 45px 0 45px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #143642;
}
.address img {
  width: 580px;
  height: 580px;
  border-radius: 20px;
}

footer {
  background-color: #143642;
  display: flex;
  padding: 80px 140px;
  color: beige;
  column-gap: 200px;
  border-radius: 30px 30px 0 0;
}
.logos {
  width: 355px;
  display: flex;
  flex-direction: column;
}
.logo img {
  width: 335px;
}
.contact {
  display: flex;
  column-gap: 27px;
}
.contact img {
  height: 32px;
  width: auto;
  filter: invert(100%);
}
.wrapper {
  display: flex;
  column-gap: 150px;
}

.wrapper ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0;
  padding: 0;
}
li.head {
  color: rgba(236, 154, 41, 1);
}
.wrapper ul li {
  list-style: none;
  min-width: 140px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}
